@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  display: grid;
  grid-template-rows: 60px 1fr 150px;
}

main {
  min-height: 80vh;
}

.navbar {
  height: 100%;
  background-color: #41238d;
}
.navbar .nav__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.navbar .nav__logo .logo__img {
  height: 30px;
  margin-right: 0.2em;
}
.navbar .nav__logo .logo__p {
  font-family: "Emilys Candy";
  color: #fff;
  font-size: 25px;
  margin-bottom: 0;
}
.navbar .nav__logo .logo__p:hover {
  color: #aaa;
}
.navbar .navbar-toggler {
  filter: invert(1);
}
.navbar .navbar-toggler .navbar-toggler-icon {
  width: 25px;
}
.navbar .nav__ul--account {
  padding: 0;
  margin-bottom: 0;
}
.navbar .nav-item {
  margin-bottom: 0.8rem;
  text-align: center;
}
.navbar .nav__link {
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: #fff;
  font-family: "Emilys Candy";
}
.navbar .nav__link:hover {
  color: #aaa;
}
.navbar .nav__link--account {
  padding-left: 0;
  padding: 0;
}

footer {
  height: 100%;
  padding: 0.5rem;
  background-color: #41238d;
}
footer .main__content {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
footer .main__content a {
  text-align: center;
  text-decoration: none;
  min-width: 50px;
  margin: 0.5rem 0.5rem;
  color: #fff;
}
footer .social__medias {
  text-align: center;
}
footer .social__medias a {
  text-decoration: none;
}
footer .social__medias .icon {
  filter: invert(1);
  height: 30px;
  margin: 0 0.5rem;
  width: 30px;
}
footer .copyright {
  font-size: 12px;
  margin: 0;
  margin-top: 1rem;
  text-align: center;
  color: #fff;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

.index__main {
  padding: 1rem;
}
.index__main .section__1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
.index__main .section__1 .hero {
  height: 500px;
  width: 100%;
  max-width: 450px;
  border-radius: 15px;
  margin-bottom: 1.2rem;
}
.index__main .section__1 .title {
  font-family: "Emilys Candy";
  font-size: 2rem;
  text-align: center;
  max-width: 450px;
  margin-bottom: 0.5rem;
  color: #fff;
}
.index__main .section__1 .text {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  max-width: 450px;
}
.index__main .section__2 .title {
  color: #fff;
  font-family: "Emilys Candy";
  font-size: 2rem;
  text-align: center;
}
.index__main .section__2 .card__container {
  border-radius: 30px;
}
.index__main .section__2 .card__container .card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 90%;
  max-width: 350px;
  height: 700px;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 5px;
  padding-bottom: 15px;
}
.index__main .section__2 .card__container .card__item .card__img {
  border-radius: 30px;
  height: 60%;
  margin-bottom: 10px;
  width: 100%;
}
.index__main .section__2 .card__container .card__item .card__title {
  font-size: 1.5rem;
  height: 2%;
}
.index__main .section__2 .card__container .card__item .card__text {
  height: 28%;
  font-size: 1.1rem;
  display: flex;
  align-items: start;
  padding: 1rem 0;
  width: 90%;
}
.index__main .section__2 .card__container .card__item .button__watch {
  height: 10%;
  width: 180px;
  height: 45px;
  font-family: "Emilys Candy";
  background-color: #a25ce0;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
}

@media (min-width: 576px) {
  main {
    padding: 1rem;
  }
  .nav__container {
    margin: 0 1rem;
  }
  .index__main .section__1 .hero {
    max-width: 550px;
    height: 600px;
  }
}
@media (min-width: 768px) {
  main {
    margin: 1rem;
  }
  .nav__container {
    margin: 0 2rem;
  }
}
@media (min-width: 992px) {
  .nav-item {
    margin-bottom: 0;
  }
  .nav__ul {
    width: 90%;
    justify-content: center;
  }
  .nav__ul .nav-item {
    width: 20%;
    margin: 0;
    text-align: center;
  }
  .nav__link--account {
    width: 10%;
    text-align: end;
  }
  .index__main .section__1 {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .index__main .section__1 .hero {
    width: 50%;
  }
  .index__main .section__1 .title {
    font-size: 2.5rem;
  }
  .index__main .section__1 .text {
    font-size: 1.6rem;
  }
  .index__main .section__2 .title {
    font-size: 2.5rem;
  }
  .index__main .section__2 .card__container {
    display: flex;
  }
  .index__main .section__2 .card__container .card__item {
    width: 30%;
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  main {
    margin: 2rem 4rem;
  }
  .nav__container {
    margin: 0 4rem;
  }
  .nav__ul .nav-item {
    width: 18%;
  }
}
@media (min-width: 1400px) {
  main {
    margin: 2rem 5rem;
  }
  .nav__container {
    margin: 0 6rem;
  }
  .nav__ul .nav-item {
    width: 15%;
  }
  .index__main .section__1 .title {
    font-size: 3rem;
  }
  .index__main .section__1 .text {
    font-size: 1.8rem;
  }
  .index__main .section__2 .title {
    font-size: 3rem;
  }
  .index__main .section__2 .card__container .card__item .card__title {
    font-size: 1.7rem;
  }
  .index__main .section__2 .card__container .card__item .card__text {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
