@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.products__grid--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-template-rows: repeat(auto-fit, 600px);
  grid-gap: 7rem;
  justify-content: center;
}

.contact__grid {
  display: grid;
  gap: 6rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "contact__section" "contact__aside";
}
.contact__grid .contact__section {
  grid-area: contact__section;
}
.contact__grid .contact__aside {
  grid-area: contact__aside;
}

@media (min-width: 847px) {
  .products__grid--container {
    grid-gap: 6rem;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .contact__grid {
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "contact__section contact__section contact__aside";
  }
}
@media (min-width: 1470px) {
  .products__grid--container {
    grid-gap: 12rem;
    justify-content: center;
  }
}
.navbar {
  background-color: #41238d;
}
.navbar .nav__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.navbar .nav__logo .logo__img {
  height: 30px;
  margin-right: 0.2em;
}
.navbar .nav__logo .logo__p {
  font-family: "Emilys Candy";
  color: #fff;
  font-size: 25px;
  margin-bottom: 0;
}
.navbar .nav__logo .logo__p:hover {
  color: #aaa;
}
.navbar .navbar-toggler {
  filter: invert(1);
}
.navbar .navbar-toggler .navbar-toggler-icon {
  width: 25px;
}
.navbar .nav__ul--account {
  padding: 0;
  margin-bottom: 0;
}
.navbar .nav-item {
  margin-bottom: 0.8rem;
  text-align: center;
}
.navbar .nav__link {
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: #fff;
  font-family: "Emilys Candy";
}
.navbar .nav__link:hover {
  color: #aaa;
}
.navbar .nav__link--account {
  padding-left: 0;
  padding: 0;
}

footer {
  height: 100%;
  padding: 0.5rem;
  background-color: #41238d;
}
footer .main__content {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
footer .main__content a {
  text-align: center;
  text-decoration: none;
  min-width: 50px;
  margin: 0.5rem 0.5rem;
  color: #fff;
}
footer .social__medias {
  text-align: center;
}
footer .social__medias a {
  text-decoration: none;
}
footer .social__medias .icon {
  filter: invert(1);
  height: 30px;
  margin: 0 0.5rem;
  width: 30px;
}
footer .copyright {
  font-size: 12px;
  margin: 0;
  margin-top: 1rem;
  text-align: center;
  color: #fff;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

.index__main {
  padding: 1rem;
}
.index__main .section__1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
.index__main .section__1 .hero {
  height: 500px;
  width: 100%;
  max-width: 450px;
  border-radius: 15px;
  margin-bottom: 1.2rem;
}
.index__main .section__1 .title {
  font-family: "Emilys Candy";
  font-size: 2rem;
  text-align: center;
  max-width: 450px;
  margin-bottom: 0.5rem;
  color: #fff;
}
.index__main .section__1 .text {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  max-width: 450px;
}
.index__main .section__2 .title {
  color: #fff;
  font-family: "Emilys Candy";
  font-size: 2rem;
  text-align: center;
}
.index__main .section__2 .card__container {
  border-radius: 30px;
}
.index__main .section__2 .card__container .card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 90%;
  max-width: 350px;
  height: 700px;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 5px;
  padding-bottom: 15px;
}
.index__main .section__2 .card__container .card__item .card__img {
  border-radius: 30px;
  height: 60%;
  margin-bottom: 10px;
  width: 100%;
}
.index__main .section__2 .card__container .card__item .card__title {
  font-size: 1.5rem;
  height: 2%;
}
.index__main .section__2 .card__container .card__item .card__text {
  height: 28%;
  font-size: 1.1rem;
  display: flex;
  align-items: start;
  padding: 1rem 0;
  width: 90%;
}
.index__main .section__2 .card__container .card__item .button__watch {
  height: 10%;
  width: 180px;
  height: 45px;
  font-family: "Emilys Candy";
  background-color: #a25ce0;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: none;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}

.products__main .title {
  text-align: center;
  font-family: "Emilys Candy";
  font-size: 2rem;
  color: #fff;
}
.products__main .products__section {
  width: 90%;
  margin: 4rem auto;
}
.products__main .products__section .section__title {
  text-align: center;
  font-family: "Emilys Candy";
  font-size: 2rem;
  color: #fff;
}
.products__main .products__section .product__card {
  margin: 2rem auto;
  width: 100%;
  height: 550px;
  background-color: #ddd;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.products__main .products__section .product__card .img__container {
  width: 100%;
}
.products__main .products__section .product__card .img__container .product__img {
  width: 100%;
  border-radius: 30px 30px 0 0;
  height: 300px;
}
.products__main .products__section .product__card .img__container .card__title {
  text-align: center;
  padding: 0 1rem;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.products__main .products__section .product__card .price {
  font-size: 2rem;
  font-weight: 700;
}
.products__main .products__section .product__card .button__buy {
  width: 180px;
  height: 45px;
  font-family: "Emilys Candy";
  background-color: #335e42;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 70%;
  margin-bottom: 1rem;
}

.about__main {
  margin: 1rem auto;
  width: 90%;
  max-width: 800px;
}
.about__main .title {
  font-family: "Emilys Candy";
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}
.about__main .about__section {
  display: flex;
  flex-direction: column;
}
.about__main .about__section .section__img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 1rem;
}
.about__main .about__section .section__title {
  font-family: "Emilys Candy";
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
.about__main .about__section .text__container .text {
  font-size: 1.4rem;
  color: #fff;
}
.about__main .section__history {
  margin-bottom: 4rem;
}

.contact__main {
  min-height: 80vh;
  width: 90%;
  margin: 2rem auto;
}
.contact__main .contact__section {
  max-width: 600px;
}
.contact__main .contact__section .title {
  font-family: "Emilys Candy";
  font-size: 2rem;
  color: #fff;
}
.contact__main .contact__section .text {
  font-size: 1.4rem;
  color: #fff;
}
.contact__main .contact__section .form__container .form__label {
  font-size: 1.4rem;
  color: #fff;
}
.contact__main .contact__section .form__container .form__item {
  margin: 2rem 0;
}
.contact__main .contact__section .form__container .form__item .form__input {
  display: block;
  width: 100%;
  margin-top: 0.4rem;
  height: 2.5rem;
  padding: 0 5px;
}
.contact__main .contact__section .form__container .form__item .form__select {
  color: #41238d;
  padding: 5px 30px;
  font-weight: 700;
  display: block;
}
.contact__main .contact__section .form__container .form__item .form__select .select__option {
  font-weight: 700;
}
.contact__main .contact__section .form__container .form__send {
  margin-top: 1rem;
  width: 180px;
  height: 45px;
  font-family: "Emilys Candy";
  background-color: #a25ce0;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: none;
}
.contact__main .contact__aside .title {
  text-align: center;
  font-family: "Emilys Candy";
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
}
.contact__main .contact__aside .contact__iframe {
  border-radius: 30px;
  width: 100%;
}

.account__main {
  width: 90%;
  margin: 1.5rem auto;
  min-height: 85vh;
}
.account__main .title {
  text-align: center;
  font-family: "Emilys Candy";
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
}
.account__main .user__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account__main .user__section .perfil__img {
  max-width: 500px;
  width: 80%;
}
.account__main .user__section .form__container {
  margin-top: 1rem;
  text-align: center;
  width: 80%;
  max-width: 500px;
}
.account__main .user__section .form__container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.account__main .user__section .form__container .form .form__input {
  width: 100%;
  margin: 1.5rem 0;
  padding: 10px;
}
.account__main .user__section .form__container .edit__button {
  width: 180px;
  height: 45px;
  font-family: "Emilys Candy";
  background-color: #a25ce0;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: none;
}

@media (min-width: 576px) {
  main {
    padding: 1rem;
  }
  .nav__container {
    margin: 0 1rem;
  }
  .index__main .section__1 .hero {
    max-width: 550px;
    height: 600px;
  }
}
@media (min-width: 768px) {
  main {
    margin: 1rem;
  }
  .nav__container {
    margin: 0 2rem;
  }
}
@media (min-width: 992px) {
  .nav-item {
    margin-bottom: 0;
  }
  .nav__ul {
    width: 90%;
    justify-content: center;
  }
  .nav__ul .nav-item {
    width: 20%;
    margin: 0;
    text-align: center;
  }
  .nav__link--account {
    width: 10%;
    text-align: end;
  }
  .index__main .section__1 {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .index__main .section__1 .hero {
    width: 50%;
  }
  .index__main .section__1 .title {
    font-size: 2.5rem;
  }
  .index__main .section__1 .text {
    font-size: 1.6rem;
  }
  .index__main .section__2 .title {
    font-size: 2.5rem;
  }
  .index__main .section__2 .card__container {
    display: flex;
  }
  .index__main .section__2 .card__container .card__item {
    width: 30%;
    max-width: 400px;
  }
  .products__main .title {
    font-size: 2.5rem;
  }
  .products__main .products__section .section__title {
    font-size: 2.5rem;
  }
  .contact__main .contact__section {
    max-width: 750px;
  }
  .contact__main .contact__section .title {
    font-size: 2.5rem;
  }
  .contact__main .contact__section .text {
    font-size: 1.6rem;
  }
  .contact__main .contact__section .form__container .form__label {
    font-size: 1.4rem;
    color: #fff;
  }
  .contact__main .contact__section .form__container .form__item {
    margin: 4rem 0;
  }
  .contact__main .contact__section .form__container .form__item .form__select {
    padding: 10px 40px;
  }
  .contact__main .contact__section .form__container .form__send {
    width: 220px;
    height: 60px;
  }
  .contact__main .contact__aside .title {
    font-size: 2.5rem;
  }
  .account__main .title {
    font-size: 2.5rem;
  }
  .account__main .user__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .account__main .user__section .perfil__img {
    max-width: 500px;
    width: 80%;
  }
  .account__main .user__section .form__container .edit__button {
    height: 55px;
    width: 220px;
  }
}
@media (min-width: 1200px) {
  main {
    margin: 2rem 4rem;
  }
  .nav__container {
    margin: 0 4rem;
  }
  .nav__ul .nav-item {
    width: 18%;
  }
  .about__main {
    max-width: 1600px;
  }
  .about__main .about__section {
    flex-direction: row;
    justify-content: space-around;
  }
  .about__main .about__section .section__img {
    width: 40%;
    height: 700px;
  }
  .about__main .about__section .text__container {
    width: 55%;
  }
  .about__main .about__section .text__container .section__title {
    font-size: 2.5rem;
    margin-bottom: 5rem;
  }
  .about__main .about__section .text__container .text {
    font-size: 1.6rem;
  }
  .about__main .section__chicken .text__container {
    order: 1;
  }
  .about__main .section__chicken .section__img {
    order: 2;
  }
}
@media (min-width: 1400px) {
  main {
    margin: 2rem 5rem;
  }
  .nav__container {
    margin: 0 6rem;
  }
  .nav__ul .nav-item {
    width: 15%;
  }
  .index__main .section__1 .title {
    font-size: 3rem;
  }
  .index__main .section__1 .text {
    font-size: 1.8rem;
  }
  .index__main .section__2 .title {
    font-size: 3rem;
  }
  .index__main .section__2 .card__container .card__item .card__title {
    font-size: 1.7rem;
  }
  .index__main .section__2 .card__container .card__item .card__text {
    font-size: 1.2rem;
  }
  .products__main .title {
    font-size: 3rem;
  }
  .products__main .products__section .section__title {
    font-size: 3rem;
  }
  .about__main .title {
    font-size: 3rem;
  }
  .about__main .about__section .text__container .section__title {
    font-size: 3rem;
  }
  .about__main .about__section .text__container .text {
    font-size: 1.8rem;
  }
  .contact__main .contact__section .title {
    font-size: 3rem;
  }
  .contact__main .contact__section .text {
    font-size: 1.8rem;
  }
  .contact__main .contact__section .form__container .form__item .form__input {
    height: 3rem;
  }
  .contact__main .contact__section .form__container .form__item .form__select {
    padding: 12px 50px;
  }
  .contact__main .contact__aside .title {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
