// .boton--aceptar {
//     @include botones(map-get($fuentes, principal-font), #fff)
// }
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

.index__main {
    padding: 1rem;
    .section__1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        .hero {
            height: 450px;
            width: 100%;
            border-radius: 15px;
            margin-bottom: .8rem;
        }

        .title {
            text-align: center;
            color: map-get($colores, title-color);
            font-family: map-get($fuentes, title-font);
        }

        .text {
            color: map-get($colores, title-color);
            text-align: center;
        }
    }

    .section__2 {
        .title {
            color: #fff;
            font-family: map-get($fuentes, title-font);
            text-align: center;
        }

        .card__container {
            border-radius: 30px;

            .card__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 350px;
                background-color: #ddd;
                border: 1px solid #ddd;
                border-radius: 30px;
                padding: 5px;
                padding-bottom: 15px;
                margin: 2rem auto;

                .card__img {
                    border-radius: 30px;
                    height: 350px;
                    margin-bottom: 10px;
                    width: 100%;
                }

                .card__text {
                    width: 90%;
                }
                .button__watch {
                    @include botones(#a25ce0, map-get($fuentes, title-font), #fff);
                }
            }
        }
    }
}