// estilos de la vista index
.index__main {
    padding: 1rem;
    // seccion principal
    .section__1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
        // imagen de la seccion principal
        .hero {
            height: 500px;
            width: 100%;
            max-width: 450px;
            border-radius: 15px;
            margin-bottom: 1.2rem;
        }
        // titulo principal
        .title {
            font-family: map-get($fuentes, title-font);
            font-size: map-get($font-sizes, s-title);
            text-align: center;
            max-width: 450px;
            margin-bottom: .5rem;
            color: map-get($colores, title-color);
        }

        .text {
            font-size: map-get($font-sizes, s-text);
            color: map-get($colores, title-color);
            text-align: center;
            max-width: 450px;
        }
    }

    // estilos de la sección de productos

    .section__2 {
        .title {
            color: #fff;
            font-family: map-get($fuentes, title-font);
            font-size: map-get($font-sizes, s-title);
            text-align: center;
        }
        // contenedor de las cards
        .card__container {
            border-radius: 30px;
            // card
            .card__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 2rem auto;
                width: 90%;
                max-width: 350px;
                height: 700px;
                background-color: #ddd;
                border: 1px solid #ddd;
                border-radius: 30px;
                padding: 5px;
                padding-bottom: 15px;
                // imagen de la card
                .card__img {
                    border-radius: 30px;
                    height: 60%;
                    margin-bottom: 10px;
                    width: 100%;
                }
                // titulo de la card
                .card__title {
                    font-size: 1.5rem;
                    height: 2%;
                }
                // texto de la card
                .card__text {
                    height: 28%;
                    font-size: 1.1rem;
                    display: flex;
                    align-items: start;
                    padding: 1rem 0;
                    width: 90%;
                }
                // botón ver productos
                .button__watch {
                    height: 10%;
                    @include botones(#a25ce0, map-get($fuentes, title-font), #fff);

                    &:hover {
                        transform: scale(1.1);
                        transition: transform .4s;
                    }
                }
            }
        }
    }
}