// .boton--aceptar {
//     @include botones(map-get($fuentes, principal-font), #fff)
// }


.index__main {
    background-color: #a25ce0;
    padding: 1rem;
    .section__1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        img {
            height: 450px;
            width: 100%;
            border-radius: 15px;
            margin-bottom: .8rem;
        }
        .title {
            text-align: center;
            color: map-get($colores, title-color );
            font-family: map-get($fuentes, title-font);
        }
        .text {
            color: map-get($colores, title-color );
            text-align: center;
        }
    }
}