$fuentes: (
    principal-font: $principal-font,
    title-font: $title-font,
);

$colores: (
    principal-color: $principal-color,
    title-color: $title-color,
);

$font-sizes: (
    s-title: 2rem,
    m-title: 2.5rem,
    l-title: 3rem,
    s-text: 1.4rem,
    m-text: 1.6rem,
    l-text: 1.8rem,
    xl-text: 2rem,
)