@mixin botones($background-color, $font-family, $color) {
    width: 180px;
    height: 45px;
    font-family: $font-family;
    background-color: $background-color;
    text-align: center;
    color: $color;
    border-radius: 5px;
    border: none;
}


